@font-face {
    font-family: 'iconfont';  /* project id 376304 */
    src: url('//at.alicdn.com/t/font_puphs3yilx5n4s4i.eot');
    src: url('//at.alicdn.com/t/font_puphs3yilx5n4s4i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_puphs3yilx5n4s4i.woff') format('woff'),
    url('//at.alicdn.com/t/font_puphs3yilx5n4s4i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_puphs3yilx5n4s4i.svg#iconfont') format('svg');
}
.header{
    width: 100%;
    height: 30px;
    background-color: #666666;
}
.header-nav{
    width: 1201px;
    height: 30px;
    margin: 0 auto;
}
.header-nav-left{
    width: 480px;
    height: 30px;
    float: left;
}
.header-nav-left ul li{
    width: auto;
    height: 30px;
    margin: 0 10px;
    line-height: 30px;
    list-style: none;
    float: left;
    font-size: 12px;
    font-family: 微软雅黑;
    color: white;
}
.header-nav-right{
    width: 140px;
    height: 30px;
    float: right;
}
.header-nav-right ul li{
    width: auto;
    height: 30px;
    margin-left: 18px;
    line-height: 30px;
    list-style: none;
    display: inline-block;
    font-size: 12px;
    font-family: 微软雅黑;
    color: white;
    position: relative;
    left: 50px;
}

/*title*/
.title{
    width: 100%;
    height: 30px;
    padding: 25px 0;
    background-color: #f7f7f7;
}
.title-nav{
    width: 1201px;
    height: 30px;
    margin: 0 auto;
}
.title-nav-left{
    width: auto;
    height: 30px;
}
.title-nav-left-logo{
    width: auto;
    height: 30px;
    float: left;
}
.title-nav-left-text{
    width: auto;
    height: 30px;
    float: left;
}
.title-nav-left-text ul li{
    width: auto;
    height: 14px;
    margin: 8px 0;
    line-height: 14px;
    padding:0  18px;
    border-right: 1px solid #666666 ;
    list-style: none;
    float: left;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #666666;
}
.title-nav-left-text ul li:nth-child(3){
    border: none;
}

.title-nav-right{
    width: auto;
    height: 30px;
    float: right;
}
.qr-code{
    width:  auto;
    height: auto;
    float: right;
    margin-top: -8px;
}
.qr-code img{
    width: auto;
    height: auto;
}

.title-nav-right-search{
    margin-right: 100px;
    width: 210px;
    height: 30px;
    padding-left:5px;
    border: 1px solid #666666;
    left: -140px;
}
.title-nav-right-search input{
    width: 200px;
    height: 28px;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
}
.title-nav-right-search div{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: right;
    background-color: #666666;
    font-family: iconfont;
    font-size: 16px;
    color: white;
}

.back{
    width: 100%;
    height: auto;
}
.back img{
    width:100%;
    height:auto;
}

/*内容部分*/
.content{
    width: 1201px;
    height: auto;
    padding-bottom: 324px;
    margin: 0 auto;
    margin-top: 10px;
    border-top: 1px solid #ececec;
}
.content-space{
    width: 100%;
    height: 14px;
}
.content-left{
    width: 918px;
    height: auto;
}
.content-left-header{
    width: 918px;
    height: 20px;
    padding-left: 4px;
    margin-bottom: 18px;
    font-size: 16px;
    font-family: 微软雅黑;
    color: #333333;
}
.content-left-main{
    width: 918px;
    height: 170px;
    padding-top: 20px;
    padding-left: 4px;
    padding-bottom: 16px;
    border-top:1px dashed #cccccc;
    border-bottom: 1px dashed #cccccc;
}
.content-left-main1{
    width: 918px;
    height: 170px;
    padding-top: 20px;
    padding-left: 4px;
    padding-bottom: 16px;
    border-top:1px dashed #cccccc;
    border-bottom: 1px dashed #cccccc;
}
.content-left-main-pic{
    width: 220px;
    height: 163px;
    margin-top: 7px;
}
.content-left-main-text{
    width: 684px;
    height: 170px;
    float: right;
}
.text-first{
    width: 684px;
    height: 16px;
    font-size: 16px;
    font-family: 微软雅黑;
    color: #666666;
}
.text-second{
    width: auto;
    height: 14px;
    margin: 18px 0;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #b2b2b2;
}
.text-second-left{
    width: 200px;
    height: 14px;
    float: left;
}
.text-second-right{
    width: auto;
    height: 14px;
    margin-left: 200px;
}
.text-third{
    font-size: 14px;
    font-family: 微软雅黑;
    color: #666666;
}

/*内容（右）*/
.content-right{
    width: 266px;
    height: auto;

    float: right;
}
.content-right-topbtn{
    width: 110px;
    height: 30px;
    margin: 0 auto;
    margin-bottom: 18px;
    background-color: #6663ab;
    border-radius: 10px;
}
.content-right-topbtn input{
    width: 110px;
    height: 30px;
    line-height: 14px;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    color: white;
    font-family:微软雅黑;
    font-size: 14px;
}

.content-right-bodybtn{
    width: 266px;
    height: 36px;
    margin-top: 20px;
    float: right;
}
.content-right-bodybtn-child1{
    width: 79px;
    height: 36px;
    float: left;
    margin: 0 auto;
    margin-left: 12px;
    margin-bottom: 18px;
    background-color: #ededf9;
    border-radius: 10px;
}
.content-right-bodybtn-child1:nth-child(1){
    margin-left: 0;
}
.content-right-bodybtn-child1 input{
    width:79px;
    height: 36px;
    line-height: 14px;
    text-align: center;
    outline: none;
    border: none;
    background-color: transparent;
    color: #a4a3cc;
    font-family:微软雅黑;
    font-size: 14px;
}

.content-right-new{
    width: 266px;
    height: auto;
    padding-bottom: 15px;
    margin-top: 322px;
    border: 1px solid  #b2b2b2;;
}
.content-right-new-title{
    width: 226px;
    height: 30px;
    padding: 0 20px;
    background-color: #b2b2b2;
}
.content-right-new-title-left{
    width: auto;
    height: 30px;
    line-height: 30px;
    color: white;
    font-family:微软雅黑;
    font-size: 14px;
    float: left;
}
.content-right-new-title-right{
    width: auto;
    height: 30px;
    line-height: 30px;
    color: white;
    font-family:微软雅黑;
    font-size: 14px;
    float: right;
}
.content-right-new-content{
    width: 226px;
    height: auto;
    padding: 0 20px;
}
.content-right-new-content-child{
    width: 226px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px dashed #cccccc;
    font-family:微软雅黑;
    font-size: 13px;
    color: #666666;
}

/*页脚*/
.footer{
    width: 100%;
    height: 350px;
    background-color: #333333;
}
.footer-content{
    width: 940px;
    height: 350px;
    margin: 0 auto;
}
.footer-content-body{
    width: 100%;
    height: 180px;
    padding-top: 30px;
}
.footer-content-body-child{
    width: auto;
    height: auto;
    margin: 0 24px;
    float:left;
}
.footer-content-body1-text1-pic{
    width: auto;
    height: auto;
    margin: 0 auto;
    font-size: 14px;
    padding-left: 6px;
    font-family: iconfont;
    color:#b2b2b2;
}
.footer-content-body1-text1-pic>span{
    width: auto;
    height: auto;
    padding-left: 4px;
}
.footer-content-body1-text2{
    font-size: 14px;
    color:#b2b2b2;
}

.footer-content-body1-title{
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-family:微软雅黑;
    font-size: 18px;
    color: #6663ab;
}
.footer-content-body1-content{
    width: 100%;
    height: 20px;
    line-height: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-family:微软雅黑;
    font-size: 14px;
    color:#b2b2b2;
}
.footer-content-footer{
    width: 100%;
    height: auto;
    margin-top: 65px;
    font-family:微软雅黑;
    font-size: 14px;
    color:#b2b2b2;
    position: relative;
}
.footer-content-footer-text1{
    width: 100%;
    height: 20px;
    text-align: center;
    position: absolute;
    font-family:微软雅黑;
    font-size: 12px;
    color:#b2b2b2;
}
.footer-content-footer-text2{
    width: 100%;
    height: 20px;
    margin-top: 30px;
    text-align: center;
    position: absolute;
    font-family:微软雅黑;
    font-size: 12px;
    color:#b2b2b2;
}


